body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

/* INPUTS E SELECT PADRONIZADOS */
input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* BOTÕES */
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px; /* espaço entre os botões */
}

button {
    flex: 1; /* deixa todos do mesmo tamanho */
    padding: 10px;
    border: none;
    background-color: #2c7be5;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    opacity: 0.9;
}

/* CARD RESULTADO */
.card {
    margin-top: 20px;
    padding: 15px;
    border-radius: 6px;
    background-color: #e9f2ff;
}

.hidden {
    display: none;
}

.erro {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
